*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
.container{
    max-width: 950px;
    /*height: 100vh;*/
    max-width: 500px;
    margin: 0 auto;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
h1{
     font-size: 35px;
     text-align: center;
     padding: 20px;
}


.start-text{
    font-size: 26px;
    text-align: center;
    padding: 20px;
}
#group-btn{
    display: flex;
    width: 100%;
}
#group-btn > button > img {
    width: 475px;
}

img{
    max-width: 241px;
    max-height: 500px;
}